---
title: Champions
permalink: /champions/
---
<!DOCTYPE html>
<head>
  <title>Lucha Underground | Champions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel='stylesheet' type='text/css' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'> <!-- Icons linked from Ionicons.com -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'> <!-- Opens Sans referenced from Google fonts -->
</head>

<body>

  <header>
    {% include header.html %}
  </header>

  <section id='roster'>

    <div class='container'>
      <div class='headerbar'>
        <h3>
          <span>
            Luchadores
          </span>
        </h3>
      </div>
    </div>

    <div class='container champ-page'>

      <div class='champ-unit'>
        <a href="/champions/lucha_championship.html"><img src='/images/lu_title.jpg' alt='Lucha Underground Championship'>
        <div class='overlay'></div></a>
        <div class='champ-details'>
          <h4>Lucha Underground Championship</h4>
          <hr noshade="noshade"></hr>
          <p><h4>Johnny Mundo</h4>
          </p>
        </div>
      </div>

      <div class='champ-unit'>
        <a href="/champions/gotg_championship.html"><img src='/images/gotg_title.jpg' alt='Gift of the Gods Championship'>
        <div class='overlay'></div></a>
        <div class='champ-details'>
          <h4>Gift of the Gods Championship</h4>
          <hr noshade="noshade"></hr>
          <p><h4>Vacant</h4>
          </p>
        </div>
      </div>

      <div class='champ-unit'>
        <a href="/champions/trios_championship.html"><img src='/images/trios_title.jpg' alt='Trios Championship'>
        <div class='overlay'></div></a>
        <div class='champ-details'>
          <h4>Trios Championship</h4>
          <hr noshade="noshade"></hr>
          <p><h4>The Snake Tribe</h4>
          </p>
        </div>
      </div>

    </section>

  {% include footer.html %}

</body>
