---
title: Lucha Underground Championship
---

<!DOCTYPE html>
<head>
  <title>Lucha Underground | LU Championship</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel='stylesheet' type='text/css' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'> <!-- Icons linked from Ionicons.com -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'> <!-- Opens Sans referenced from Google fonts -->
</head>

<body>

  <header>
    {% include header.html %}
  </header>

  <section id='roster'>

    <div class='container'>
      <div class='headerbar'>
        <h3>
          <span>
            LU Championship
          </span>
        </h3>
      </div>
    </div>

    <div class='container champ-page'>

      <div class='champ-reign'>
        <img src='/images/luchadores/prince_puma.jpg' alt='Prince Puma'>
        <div class="reign-info">
          <h3>Prince Puma</h3>
          <h4>Won January 7, 2015</h4>
          <h4>Episode 1.09 | Aztec Warfare</h4>
          <p>In the first-ever Aztec Warfare match, Boyle Heights' own Prince Puma outlasted nineteen other luchadors, including Fenix, Drago, Mil Muertes, Sexy Star, and Pentagon Jr. Finally, Puma pinned Johnny Mundo with a 630 Senton to become the inaugural Lucha Underground Champion. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/mil_muertes.jpg' alt='Mil Muertes'>
        <div class="reign-info">
          <h3>Mil Muertes</h3>
          <h4>Won August 5, 2015</h4>
          <h4>Episode 1.39 | Ultima Lucha Part 2</h4>
          <p>In the main event of Ultima Lucha I, Prince Puma fought the behemoth from beyond the grave, Mil Muertes. With the help of Catrina and her magical stone, Mil summoned the power to spear Puma out of the ring and through a table. The action was so intense that neither Puma's 630 or Mil's Flatliner were able to end the match (nobody had ever kicked out of either move before). In the end, the man of a thousand deaths finished Puma with a Super Flatliner off the top rope. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/fenix.jpg' alt='Fenix'>
        <div class="reign-info">
          <h3>Fenix</h3>
          <h4>Won March 16, 2016</h4>
          <h4>Episode 2.08 | Life After Death</h4>
          <p>After recapturing the Gift of the Gods from King Cuemo, Fenix was quick to redeem his championship opportunity. Having been embroiled in a bitter rivalry with Mil Muertes throughout Lucha Underground's first season, it came as no surprise that their match tumed into an all-out brawl. After a dive from the crowd, a powerbomb onto the announce table, and Mil Muertes' bloody near-unmasking, Fenix finally scored the pinfall with a bridge.  </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/matanza_cueto.jpg' alt='Matanza'>
        <div class="reign-info">
          <h3>Matanza Cueto</h3>
          <h4>Won March 23, 2016</h4>
          <h4>Episode 2.09 | Aztec Warfare II</h4>
          <p>Fenix's reign as Lucha Underground Champion was short-lived. The following week, he was forced to defend his title by entering #1 in Aztec Warfare II, where the debuting monster, Matanza Cueto laid waste to Fenix with a devastating Wrath of the Gods. But Fenix was only the first of Matanza's victims. Matanza plowed through eight more luchadors including Aerostar, Prince Puma, and the legendary Rey Mysteno Jr. to capture the Lucha Underground Championship. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/sexy_star.jpg' alt='Sexy Star'>
        <div class="reign-info">
          <h3>Sexy Star</h3>
          <h4>Won November 16, 2016</h4>
          <h4>Episode 3.11 | Aztec Warfare III</h4>
          <p>Matanza remained undefeated since his victory at Aztec Warfare II. In fact, Dario was confident that no one could defeat his brother, that he put Matanza in as #1 in Aztec Warfare III, which led to an elimination by Rey Mysterio. With the monster vanquished, it was Sexy Stars time to shine. Against all odds, Sexy Star landed a perfect diving double foot stomp on Mil Muertes, putting him e through a table to become the first ever female world champion in Lucha Underground. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/johnny_mundo.jpg' alt='Johnny Mundo'>
        <div class="reign-info">
          <h3>Johnny Mundo</h3>
          <h4>Won November 23, 2016</h4>
          <h4>Episode 3.12 | Every Woman is Sexy, Every Woman is a Star</h4>
          <p>Just one week after her historic victory, Sexy Star was contractually bound to defend her title against her bitter dual (and the man who usurped her Gift of the Gods title from her), Johnny Mundo. "The Mayor of Slamtown" resorted to his usual sneaky tactics, and with the help of a crutch-wielding lucha fan and a pair of brass knuckle, Mundo was able to secure the victory and the title. Who was the fan? None other than Worldwide Underground member, Taya. </p>
        </div>
      </div>


    </section>

  {% include footer.html %}

</body>
