---
title: Trios Championship
---

<!DOCTYPE html>
<head>
  <title>Lucha Underground | Trios Championship</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel='stylesheet' type='text/css' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'> <!-- Icons linked from Ionicons.com -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'> <!-- Opens Sans referenced from Google fonts -->
</head>

<body>

  <header>
    {% include header.html %}
  </header>

  <section id='roster'>

    <div class='container'>
      <div class='headerbar'>
        <h3>
          <span>
            Trios Championship
          </span>
        </h3>
      </div>
    </div>

    <div class='container champ-page'>

      <div class='champ-reign'>
        <img src='/images/luchadores/angelico.jpg' alt='Son of Havoc, Ivelisse, and Angelico'>
        <div class="reign-info">
          <h3>Son of Havoc, Ivelisse, and Angelico</h3>
          <h4>Episode 1.24 | Trios Champions</h4>
          <p>In the finals of the Trios Championships tournament, the unlikely trio competed in a 3 Way Trim Elimination Match where they defeated Cage/Texano/King Cuerno and Big Ryck/Killshot/The Mack. They thought they had won them but Dario Cueto informed them that they had one more match against The Crew (Cortez Castro/Mr. Cisco/Bael) in a No Disqualification Match. They overcame near-imposstle odds and were victorious becoming the first ever Trios Champions. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/catrina.jpg' alt='Disciples of Death'>
        <div class="reign-info">
          <h3>The Disciples of Death</h3>
          <h4>Barrio Negro, Trece, and Sinestro de la Muerte</h4>
          <h4>Episode 1.38 | Ultima Lucha Part 1</h4>
          <p>Due to an injury, Ivelisse was forced to wrestle this match on crutches, giving the champions a serious disadvantage going in. And with Catrina in the corner of the Disciples of Death, things weren't looking pretty. Even Angelico's leap off the perch above the announcers couldn't secure the tecnico team the victory. In the end, Catrina cracked Ivelisse over the head with her mystical stone. leading to the first title change in Lucha Underground history. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/son_of_havoc.jpg' alt='Son of Havoc, Ivelisse, and Angelico'>
        <div class="reign-info">
          <h3>Son of Havoc, Ivelisse, and Angelico</h3>
          <h4>Episode 2.05 | Life After Death</h4>
          <p>With their Lucha Underground careers on the line, lvelisse, Son of Havoc, and Angelico earned a hard-fought victory over the Disciples and regained their championships. The punishment for the Disciples was a brutal beating at the hands of Mil Muertes. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/rey_mysterio.jpg' alt='Dragon Azteca, Jr., Rey Mysterio, and Prince Puma'>
        <div class="reign-info">
          <h3>Dragon Azteca, Jr., Rey Mysterio, and Prince Puma </h3>
          <h4>Episode 2.14 | Cage in a Cage</h4>
          <p>Once again, the reigning champs were at a distinct disadvantage as Angelico was injured by an ambush from Johnny Mundo, forcing Ivelisse and Havoc to go at it without a third partner. And if that weren't enough, this was a Four-Way Trios Elimination Match that also included the trios of Fenix/Jack Evans/PJ Black and Cortez Castro/Mr. Cisco/Joey Ryan. In the end, a Lucha Underground dream team emerged as the new Trios Champs </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/johnny_mundo.jpg' alt='The Worldwide Underground'>
        <div class="reign-info">
          <h3>The Worldwide Underground</h3>
          <h4>Johnny Mundo, PJ Black, and Jack Evans</h4>
          <h4>Episode 2.18 | Enter the Mundo</h4>
          <p>The team of Johnny Mundo. Jack Evans and the Darewolf had some dirty tricks up their sleeves. Thanks to outside interference from the always dangerous Taya and a welltimed chair shot behind the referee's back, the Worldwide Underground stole the Trios Titles. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/fenix.jpg' alt='Drago, Fenix, and Aerostar'>
        <div class="reign-info">
          <h3>Drago, Fenix, and Aerostar</h3>
          <h4>Episode 2.26 | Ultima Lucha Dos Part 3</h4>
          <p>In this matchup. Mundo and his crew got a taste of their own medicine when a returning Angelico walloped the "Mayor Of Slamtown" with a crutch. Angelico's interference was just the distraction Fenix needed to connect with a Fenix Driver and secure the Trios Titles around the waists of Fenix, Drago and Aerostar - Lucha Underground's own version of the Super Friends. </p>
        </div>
      </div>

      <div class='champ-reign'>
        <img src='/images/luchadores/drago.jpg' alt='The Snake Tribe'>
        <div class="reign-info">
          <h3>The Snake Tribe</h3>
          <h4>Drago, Kobra Moon, Pindar and Vibora</h4>
          <h4>Episode 3.21 | Sudden Death</h4>
          <p>In a match that started with the reigning champions taking on the Snake Tribe of Kobra Moon, Pindar, and Vibora, things started off rough for Aerostar and Fenix. With the uncertanity of Drago's relationship with Kobra Moon at play, the Snake Tribe came in strong. As they had full control, Kobra Moon lured Drago across the ring and into the reptilian corner for a tag, joining the opposing team and putting the finishing touches on his former teammates.</p>
        </div>
      </div>


    </section>

  {% include footer.html %}

</body>
